body {
    min-width: 90vw;
    background-color: rgb(247, 243, 237);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow-x: hidden;
}

#navBar-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
}

#navBar-child:hover {
    color: green;
}

#starbucksLogo {
    padding-left: 20px;
    margin-right: 1000px;
}

#navBar-child {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
    gap: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    overflow: hidden;
}

#navBar-child a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

#navBar-child a:hover {
    text-decoration: dashed;
    color: green;
}

#navBar-signIn {
    background-color: black;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1.0s ease;
    cursor: pointer;
}

#navBar-joinNow {
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1.0s ease;
    cursor: pointer;
}

#navBar-signIn:hover {
    background-color: green;
    transition: 1.0s ease;
}

#navBar-joinNow:hover {
    color: white;
    background-color: green;
    transition: 1.0s ease;
}

.navbar.responsive a {
    display: block;
    width: 100%;
    text-align: left;
}

.icon {
    /* display: block;
    color: white;
    padding: 14px 20px;
    cursor: pointer; */
    display: none;
}

.navbar-scrolled {
    background-color: rgb(174, 169, 169);
    box-shadow: 0px 3px 10px rgb(169, 169, 169, 0.15) ;
    border-radius: 20px;
}

#body-parent {
    display: flex;
    flex-direction: row;
    padding: 100px 150px 0px 150px;
}

#body-child1 h2 {
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
}

#body-child1 b {
    color: green;
    font-weight: bolder;
}

#body-child1 p {
    padding-right: 550px;
    font-size: 1.5rem;
    margin-top: -25px;
}

#body-child1 button {
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    color: white;
    letter-spacing: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1.0s ease;
}

#body-child1 button:hover {
    cursor: pointer;
    background-color: green;
    transition: 1.0s ease;
}

#body-child2 {
   background-color: green;
   border-radius: 7000px 0px 0px 0px;
   background-size: auto;
}

#thumbnail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#thumbnail1:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

#footerParent {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;
}

#footerChild1 {
    gap: 10px;
    justify-content: space-evenly;
}

#footerChild1 a:hover {
    transform: scale(1.1);
}

#footerChild2 {
    color: grey;
}

#socials {
    width: 25px;
    height: auto;
}

@media (max-width: 767px) {
    body {
        min-width: 100vw;
        background-color: rgb(247, 243, 237);
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
        overflow-x: hidden;
    }

    #navBar-parent {
        /* display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center; */
        gap: 50px;
    }

    #navBar-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        /* width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger;
        font-weight: bolder;
        text-decoration: none;
        color: black; */
    }

    #starbucksLogo {
        padding-left: 20px;
        margin-right: 100px;
    }

    .navbar a {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
        padding: 14px 20px;
        color: white;
        cursor: pointer;
    }


/* Active class to display links */
.navbar.responsive {
    flex-direction: column;
    display: block;
    /* width: 100vw; */
}

.navbar.responsive a {
    display: block;
    text-align: left;
    width: 100%;
} 

    #body-parent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 100px 10px;

    }
    
    #body-child1 h2 {
        font-size: 2.0rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 3px;
    }
    
    #body-child1 b {
        color: green;
        font-weight: bolder;
    }
    
    #body-child1 p {
        font-size: 1.0rem;
        margin-top: -5px;
        padding-right: 40px;

    }
    
    #body-child1 button {
        background-color: black;
        padding: 10px;
        border-radius: 15px;
        color: white;
        letter-spacing: 2px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        transition: 1.0s ease;
    }
    
    #body-child1 button:hover {
        cursor: pointer;
        background-color: green;
        transition: 1.0s ease;
    }

    #body-child2 {
        background-color: green;
        border-radius: 4500px 0px 0px 0px;
        background-size: auto;
     }

    #bodyPic {
        height: 200px;
        width: auto;
    } 

    #footerParent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        margin-top: 50px;
        margin-left: 10px;
    }
}

@media (min-width: 768px) and 
        (max-width: 1023px) {
            #navBar-parent {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 50px;
            }
        }

/* Menu Page */

#menuBody-drinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}

#drinksParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}

#drinksChild1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    gap: 200px;
}

#drinksChild1-row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#drink1 {
    width: auto;
    height: 120px;
    border-radius: 100%;
    text-align: center;
}

@media (max-width: 767px) {
    #drinksChild1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 20px;
        margin-top: 20px;
    }

    #drinksChild1-row1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #drinksParent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* gap: 50px;
        padding-top: 20px; */
    }
}

/* Sign In Form */

#signInPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
